# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# Node
node_modules/
dist/
.eslintcache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
individual-parts/
*.zip
1.md
2.md
3.md
